@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Young+Serif&display=swap');

* {
  font-family: "Young Serif", serif;
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 100px;
}

.logo-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 1000;
    opacity: 1; 
    transition: opacity 1s ease-out; 
  }
  

  .logo {
    width: auto;
    height: 80%; 
  }

#navbar {
    display: grid;
    grid-template-columns: 1fr 2px 9fr;
    align-items: center; 
    column-gap: 20px; 
    justify-self: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0 0 10px 10px;
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  

  .navbar-item {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    column-gap: 60px;
  }

  .navbar-item li a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    position: relative;
  }


  .navbar-item li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
 }
 .navbar-item li a:hover::after{
    width: 100%;
    height: 1px;
    background-color: #BC0608;
 }
  .separator {
    background-color: #BC0608;
    width: 2px;
    height: 100%;
  }
  
  .logo_navbar {
    height: 100px;
    width: auto;
    justify-self: center;
  }

  #cabinet {
   display: grid;
   grid-template-columns: 1fr 40px 1fr;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 120px;
   position: relative;
   margin-bottom: 80px;
  }
  
  .image-container-cabinet {
    grid-column: 1/3;
    width: 100%;
    height: 80vh;
    background-color: #5f5f5f;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    position: relative;
    z-index: 1;
  }
  
  .text-container-cabinet {
    grid-column: 2 / 4; 
    background: #fff;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    z-index: 2;
    position: absolute;
    bottom: 10px;
    border-radius: 2px;
  }
  
  .text-container-cabinet h1 {
    margin-top: 0;
  }
  
  .text-container-cabinet p {
    line-height: 1.6;
  }
 
  #avocat {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    padding: 0 10px;
    position: relative;
    margin-bottom: 50px;
  }

  .image-container-avocat {
    grid-column: 2 / 4;
    width: 100%;
    height: 80vh;
    background-color: #5f5f5f;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    position: relative;
    z-index: 1;
  }

  .text-container-avocat {
    grid-column: 1 / 3; 
    background: #fff;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    z-index: 2;
    position: absolute;
    bottom: 10px;
    border-radius: 2px;
  }
  
  .text-container-avocat h1 {
    margin-top: 0;
  }
  
  .text-container-avocat p {
    line-height: 1.6;
  }

  #autre-avocats {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 0 40px;
    margin-bottom: 80px;
  }

  .box-autre-avocats {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .image-container-avocat-petit {
    background-color: #5f5f5f;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    height: 40vh;
  }

  .text-container-avocat-petit {
    background: #fff;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    max-width: 100%;
  }
  .text-container-avocat-petit h2 {
    margin-top: 0;
  }
  
  .text-container-avocat-petit p {
    line-height: 1.6;
  }

  #expertise {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 80px;
    gap: 20px;
    padding: 0 20px;
  }

  .expertise-cart {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    align-items: center;
    padding: 10px 10px;
    transition: all 0.3s ease;
  }

  .expertise-cart h2 {
    margin-top: 0;
  }
  
  .expertise-cart p {
    line-height: 1.6;
  }

  .expertise-cart:hover {
    box-shadow: 0px 4px 6px #BC0608;
  }

  #adresses {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }

  .adresses-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    justify-items: center;
    padding: 10px;
  }

  .adresses-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .adresses-box h3 {
    display: flex;
    align-items: center;
  }

  .adresses-box p{
    color: #5f5f5f;
    padding-left: 10px;
  }

   
 #contact {
  max-width: 800px;
  min-width: 600px;
  margin: 50px auto;
  padding: 60px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

 
 #contact h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
  padding-bottom: 40px;
}


.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

 
.form-group {
  display: flex;
  gap: 10px;
}

 
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}

.contact-form textarea {
  resize: none;  
}

 
.submit-btn {
  width: 150px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: #000;
  color: #fff;
}

.news-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 0 80px;
}

.news-article {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  gap: 20px;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.article-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: #000;
}

.article-image {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.article-date {
  font-size: 14px;
  color: #777;
  margin: 0 0 10px 0;
}

.article-description {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.article-link {
  font-size: 16px;
  color: purple;
  text-decoration: underline;
  margin-top: auto;
}

.article-link:hover {
  color: darkred;
}

#actualite {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#actualite>a {
  width: 150px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #000;
}

#actualite>a:hover{
  background-color: #000;
  color: #fff;
}

.footer {
  background-color: #f8f8f8;
  color: #333;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-social a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}